
@{
    ViewBag.Title = "FAQs";
}

<h2>FAQs</h2>
<p><b>How to become the member of this site?</b></p>
<p>You baecome a member of this site by Submit registration form having your information.</p>
<p><b>Will there be any subscription charges?</b></p>
<p>Yes,For Monthly Subscription 10$ <br />For Yearly Subscription 100$</p>
<p><b>How to view the recipes and tips? Will there be any charges for that?</b></p>
<p>Click Recipe or Tips Section from main menu. 
   <br />If you are not the member of this site, some recipes are available for you.
    <br />If you want to open all recipes, You can subscribe.</p>
<p><b>I am not the registered member of the site. Can I participate in the
contest held?</b></p>
<p>No, You can participate in the contest after Register Yourself.</p>
<p><b>How to upload or post the recipes and tips?</b></p>
    <ul>
        <li>Click Recipe or Tips Section from the main menu.</li>
        <li>Click "CREATE NEW" Button on the top of the Page.</li>
        <li>Fill this form and Submit.</li>
    </ul>
<p><b>How to post a feedback?</b></p>
<ul>
    <li>Click Feedback Section from main menu..</li>
    <li>Fill the Form and click on Submit Button. </li>
</ul><p><b>I have posted a recipe or a tip with respect to the contest. How can I
know who is the winner?</b></p>
<p>
    The Winner is announced by the Owner in announcement Section.
</p>


